<div class="content-left">
  <h1>
    <a href="www.qmagico.com.br" class="logo"></a>
  </h1>

  <div class="container-fluid">
    <h2>Dê um nome à sua plataforma</h2>
    <h4>Este é o endereço que seus professores e alunos usarão para entrar no QMágico.</h4>
    <form role="form">
      <div class="form-group">
        <label for="nome">Nome da sua escola</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome">
      </div>
      <div class="form-group">
        <label for="namespace">Endereço da plataforma</label>
        <div class="form-inline">
          <span>http://</span>
          <input type="text" class="form-control" id="namespace" in placeholder="suaescola">
          <span>.qmagico.com.br</span>
        </div>
      </div>
      <a href="/home3" class="btn btn-primary btn-lg">Continuar</a>       
    </form>
  </div>

</div>
<div class="content-right bg-2"></div>