<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0014)about:internet -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Page 3.png</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">td img {display: block;}</style>
<!--Fireworks CS6 Dreamweaver CS6 target.  Created Thu Jul 23 18:27:05 GMT-0300 (Hora oficial do Brasil) 2015-->
</head>
<body bgcolor="#f5f5f5">
<table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="1366">
<!-- fwtable fwsrc="mockup.png" fwpage="Page 3" fwbase="Page 3.png" fwstyle="Dreamweaver" fwdocid = "13398765" fwnested="0" -->
  <tr>
   <td><img src="images/spacer.gif" width="343" height="1" alt="" /></td>
   <td><img src="images/spacer.gif" width="680" height="1" alt="" /></td>
   <td><img src="images/spacer.gif" width="343" height="1" alt="" /></td>
   <td><img src="images/spacer.gif" width="1" height="1" alt="" /></td>
  </tr>

  <tr>
   <td colspan="3"><img name="Page3_r1_c1" src="images/Page%203_r1_c1.png" width="1366" height="55" id="Page3_r1_c1" usemap="#m_Page203_r1_c1" alt="" /></td>
   <td><img src="images/spacer.gif" width="1" height="55" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2"><img name="Page3_r2_c1" src="images/Page%203_r2_c1.png" width="343" height="645" id="Page3_r2_c1" alt="" /></td>
   <td><iframe width="680" height="383" src="https://www.youtube.com/embed/VjFFTFR2ygc" frameborder="0" allowfullscreen></iframe></td>
   <td rowspan="2"><img name="Page3_r2_c3" src="images/Page%203_r2_c3.png" width="343" height="645" id="Page3_r2_c3" alt="" /></td>
   <td><img src="images/spacer.gif" width="1" height="382" alt="" /></td>
  </tr>
  <tr>
   <td><img name="Page3_r3_c2" src="images/Page%203_r3_c2.png" width="680" height="263" id="Page3_r3_c2" alt="" /></td>
   <td><img src="images/spacer.gif" width="1" height="263" alt="" /></td>
  </tr>
</table>
<map name="m_Page203_r1_c1" id="m_Page203_r1_c1">
<area shape="poly" coords="1049,0,1239,0,1239,47,1049,47,1049,0" href="/home4" alt="" />
</map>
</body>
</html>
